<app-dembow></app-dembow>
Pasos seguidos
<ul>
  <li>npm install primeng --save</li>
  <li>npm install primeicons --save</li>
  <li>
    En package.json
    "dependencies":
    //...
    "primeng": "^7.0.0",
    "primeicons": "^1.0.0"
    ,</li>
  <li>En angliar.json
    "styles": [
    "node_modlies/primeng/resources/themes/nova-light/theme.css",
    "node_modlies/primeng/resources/primeng.min.css",
    "node_modlies/primeicons/primeicons.css",
    //...
    ],
  </li>
  <li>
    Instalar:
    npm install --save @angliar/material @angliar/cdk
  </li>
  <li>Importar :
    import
    SidebarModlie,
    PasswordModlie,
    InputTextModlie,
    PanelModlie
    from 'primeng/primeng';
  </li>
  <li>import  BrowserAnimationsModule  from '@angular/platform-browser/animations'; Puede necesitar npm install</li>
<ul>